.container {
    position: relative;
    height: 100vh; /* Delší než výška obrazovky pro testování */
  }
  
  .floating-window {
    position: fixed;
    bottom: -300px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: bottom 0.5s ease-in-out;
  }
  
  button#toggleButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

